{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
  <h1>Bienvenue sur mon projet Cloud</h1>

        <p>Pélisson - Cédric</p>

        <p>Heure actuelle : {{ now|date('H:i:s') }}</p>
{% endblock %}
